<div class="layout">
  <nav class="sidebar">
    <header class="menu-title">Archivos</header>
    <ul class="nav-list">
      <li class="section-title">Personal</li>
      <li><a routerLink="staffreg" routerLinkActive="active-link">Registro</a></li>
      <li><a routerLink="stafflist" routerLinkActive="active-link">Listado</a></li>
      <li class="section-title">Historias</li>
      <li><a routerLink="storie-loans" routerLinkActive="active-link">Buscar</a></li>
      <li><a routerLink="storie-returns" routerLinkActive="active-link">Préstamos</a></li>
      <li><a routerLink="storie-search" routerLinkActive="active-link">Devoluciones</a></li>
      <li class="section-title">Ubicaciones</li>
      <li><a routerLink="/not-found">Folders</a></li>
      <li><a routerLink="/not-found">Cajas</a></li>
      <li><a routerLink="/not-found">Almacén</a></li>
      <li class="section-title">Reportes</li>
      <li><a routerLink="/not-found">Ingresos</a></li>
      <li><a routerLink="/not-found">Prestamos</a></li>
      <li><a routerLink="/not-found">Cajas</a></li>
      <li><a routerLink="/not-found">Movimientos</a></li>
    </ul>
  </nav>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>