<div class="login-container">
    <div class="background-image"></div>
    <div class="login-box">
      <!-- Logo -->
      <img src="/assets/logo_sp.png" alt="Logo" class="logo" />
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="usuario" placeholder="Usuario" />
        </mat-form-field>
      
        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="contraseña" placeholder="Contraseña" />
        </mat-form-field>
      
        <!-- Botón de Ingreso -->
        <button mat-button type="submit" class="custom-button">Ingresar</button>
      </form>
      
    </div>
  </div>
  